<div class="col-lg-12 control-section">
  <div class="sample_container toast-type-section">
    <ejs-toast
      #toasttype
      id="toasttype"
      [position]="position"
      (created)="onCreate()"
      (close)="onclose($event)"
      (beforeOpen)="onBeforeOpen()"
    ></ejs-toast>
    <div id="toast_types">
      <div>
        <button
          ejs-button
          #infoToast
          cssClass="e-btn e-control e-info"
          id="infoToast"
          (click)="infoClick()"
        >
          Info Message
        </button>
        <button
          ejs-button
          #warningToast
          cssClass="e-btn e-control e-warning"
          id="warningToast"
          (click)="warningClick()"
        >
          Warning Message
        </button>
        <button
          ejs-button
          #successToast
          cssClass="e-btn e-control e-success"
          id="successToast"
          (click)="successClick()"
        >
          Success Message
        </button>
        <button
          ejs-button
          #errorToast
          cssClass="e-btn e-control e-danger"
          id="errorToast"
          (click)="errorClick()"
        >
          Error Message
        </button>
      </div>
      <div style="padding-top: 15px">
        <button
          ejs-button
          #hideTosat
          cssClass="e-btn e-control"
          id="hideTosat"
          (click)="hideClick()"
        >
          Hide All
        </button>
      </div>
    </div>
    <div id="toast_default_target"></div>
  </div>
</div>
